html{
    background-color: black;
}

#fontsize{
    font-size: 20px;
}

.picme{
    margin-top : 1%;
    width: 250 px;
    height: 250px;
}

#topcolor{
    color:orange;
}


#h2{
    color: skyblue;
    animation-duration: 16s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}
@keyframes slidein {
    0% {
      margin-left: 0%;
    }
    50% {
      margin-left: 1451px;
    }
    100% {
      margin-left: 0%;
    }
}

#aboutmyself{
    text-align: center;
    color:tomato;    
}
ul{
    margin-top: -20px;
    color : white;
    display: inline-block;
}
    
.skillsexperience{
    color:red;
}
#skills{
    margin-left: 250px;
}
#experience{
    margin-top: -20px;
    margin-left: 1200px;
}